%h2 Napake
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        Kategorija
      %th
        Število napak
      %th
        Odstotkovno
  %tbody
    %tr
      %td Dvojni presledki
      %td= @checker.space_count
      = percentage_td @checker.space_percent
    %tr
      %td Pike namesto tripičja
      %td= @checker.ellipsis_count
      = percentage_td @checker.ellipsis_percent
    %tr
      %td Nepravilni “s”
      %td= @checker.s_count
      = percentage_td @checker.s_percent
    %tr
      %td Nepravilni “z”
      %td= @checker.z_count
      = percentage_td @checker.z_percent
    %tr
      %td Nepravilni “h”
      %td= @checker.h_count
      = percentage_td @checker.h_percent
    %tr
      %td Nepravilni “k”
      %td= @checker.k_count
      = percentage_td @checker.k_percent
    %tr
      %td Male začetnice za ločili ali na začetku odstavka*
      %td= @checker.capitals_count
      = percentage_td @checker.capitals_percent
  %tfoot
    %tr
      %td Skupaj
      %td= @checker.total_count
      = percentage_td @checker.total_percent

%small * dela napake pri datumih napisanih z besedo, ter kraticah, ki se končajo s piko - npr., tj.,…

%h2 Popravljen tekst
%p= raw @checker.correct_text{ |c| content_tag(:mark, c) }
